= provide(:title, "Dashboard")

.container.admin-dashboard-header
	%h3 Dashboard

= render 'action_header'

.container.admin-activity-wrapper
	.col-lg-9
		.panel.panel-info
			.panel-heading
				= "Whats going on, #{current_user.name} this is the latest."
			.panel-body
				%ul{:class => "list-group"}
					%li{:class => "list-group-item"}
						.list-group-item-title Event Created
						.list-group-item-info-wrapper By Alan Wernick
					- subscription_activities = PublicActivity::Activity.order("created_at desc").where(:recipient_id => current_user.subscribed_events, trackable_type: "Subscription")
					- event_activities = PublicActivity::Activity.order("created_at desc").where(:recipient_id => current_user.id)
					- @activities = subscription_activities + event_activities
					- @activities.sort_by(&:created_at)
					- @activities.each do |activity|
						= render_activity activity

		.panel.panel-info
			.panel-heading Your events
			.panel-body
				- current_user.subscribed_events.each do |event|
					.event{ :id => "#{event.id}", :style => "margin: 5px 0;"}
						.event-element.dashboard-element
							.event-element-title= event.name
							.event-element-date
							#{parse_time_accounting_for_timezone(event.starttime).strftime("%A, %B %e, %Y")}
						.dashboard-event-actions
							.admin-action-button
								.btn-group.btn-group-justified{"aria-label" => "Justified button group", :role => "group"}
									%a.btn.btn-default{:href => "#", :role => "button"} Edit Event
									%a.btn.btn-default{:href => "#", :role => "button"} Delete Event




	.col-lg-3
		.panel.panel-primary
			.panel-heading Actions Panel
			.panel-body.action-panel-styling
				%ul{:class => "actions-wrapper"}
					- if current_user.event_planner?
						%li
							= link_to new_event_path, :class => "new-event-action" do
								%span{:class => "fa fa-list custom-glyphicon", "aria-hidden" => "true"}
									CREATE NEW EVENT

					-if current_user.admin?
						%li
							= link_to new_user_path, :class => "new-user-action" do
								%span{:class => "fa fa-users custom-glyphicon", "aria-hidden" => "true"}
									CREATE NEW USER
