= provide(:title, "Dashboard")

.container.admin-dashboard-header
	%h3 Dashboard

= render 'action_header'

.container.admin-activity-wrapper
	.col-lg-9
		.panel.panel-info
			.panel-heading
				= "Whats going on, #{current_user.name} this is the latest."
			.panel-body
				%ul{:class => "list-group"}
					%li{:class => "list-group-item"}
						.list-group-item-title Event Created
						.list-group-item-info-wrapper By Alan Wernick
					- subscription_activities = PublicActivity::Activity.order("created_at desc").where(:recipient_id => current_user.event_ids, trackable_type: "Subscription")
					- event_activities = PublicActivity::Activity.order("created_at desc").where(:recipient_id => current_user.id)
					- @activities = subscription_activities + event_activities
					- @activities.sort_by(&:created_at)
					- @activities.each do |activity|
						= render_activity activity

		.panel.panel-info
			.panel-heading Your events
			.panel-body
				.event-list-element-wrapper.table-responsive
				.dashboard-event-list-wrapper
					.dashboard-event-floating-event.float-left Event Title and Name
					.dashboard-event-floating-event.float-left Event Actions
				
	.col-lg-3
		.panel.panel-primary
			.panel-heading Actions Panel
			.panel-body.action-panel-styling
				%ul{:class => "actions-wrapper"}
					%li
						= link_to new_event_path, :class => "new-event-action" do
							%span{:class => "fa fa-list custom-glyphicon", "aria-hidden" => "true"}
								CREATE NEW EVENT
					%li
						= link_to new_user_path, :class => "new-user-action" do
							%span{:class => "fa fa-users custom-glyphicon", "aria-hidden" => "true"} 
								CREATE NEW USER