- provide(:title, "Messages")

.container.admin-dashboard-header
  %h3 Messages

.container{:style => "padding-top:40px;"}
  .row
    .col-lg-2.col-md-12
      .mb-boxes{:collapse => "mailboxMenuCollapsed", :style => "height: 0px;"}
        .panel.panel-default.m0
          .list-group
            = link_to "#", :class => "list-group-item" do
              %span{:class => "glyphicon glyphicon-inbox"}
              Inbox
            / = link_to "#", :class => "list-group-item" do
            /   %span{:class => "glyphicon glyphicon-share-alt"}
            /   Sent
            = link_to "#", :class => "list-group-item" do
              %span{:class => "glyphicon glyphicon-trash"}
              Trash
    .col-lg-10
      .panel.panel-info
        .panel-heading Inbox
        .panel-body
          - conversation = current_user.mailbox.inbox.first
          - receipts = conversation.receipts_for current_user
          - receipts.each do |receipt|
            %a{:href => conversation.id, :class => "conversation-wrapper-link"}
              .conversation-wrapper
                %h3=receipt.message.subject
                %p=truncate(receipt.message.body)
              .conversation-time-wrapper=conversation.updated_at.strftime("%A, %B %e, %Y %I:%M %p")


/The user contacter will always send a message from the Contact Page

/The contacter user will always send to the same conversation: Feedback

/The message will contain in the subject: "You were contacted by: emailfield" value. The message will also contain somewhere in it the message form the person contacting and their contact information. A send email view will later come so that admins can send messages to the person from the uteppros app.


- conversation = current_user.mailbox.inbox.first
- receipts = conversation.receipts_for current_user

- receipts.each do |receipt|
  = message =  receipt.message
  %br
  = read = receipt.is_unread?
  %br
  = receipt.message.subject
  %br
= conversation.updated_at.strftime("%A, %B %e, %Y %I:%M %p")