= form_for :conversation, url: :conversations do |f|
  = f.label :to
  = f.collection_select(:recipients,  User.all.reject {|user| user == current_user}.map, :id, :name, {}, class: "chosen-select form-control", multiple: true, id: "conversationRecipientField")
  = f.label :subject
  = f.text_field :subject, class: 'form-control'
  = f.label :message
  = f.text_area :body, class: 'form-control', rows: 4
  .form-actions
    = f.submit 'Send', class: 'btn btn-primary'
    = f.submit 'Cancel', class: 'btn btn-danger'
