- provide(:title, "Conversation")

.container.admin-dashboard-header
  %h3 Mailbox

.container
  .row
    .col-sm-6
      %h3 Conversation
      - conversation.participants.reject{ |participant| participant == current_user }.each do |participant|
        = link_to participant.name, participant
      %br
      - @conversation.messages.each do |message|
        -# = message.sender.name
        = message.body
        %br
      %br
      = form_for :message, url: reply_conversation_path(@conversation),  html: {class: "form-inline"} do |f|
        = f.text_area :body, :class => 'form-control custom-at-colors', :placeholder => 'Reply here'
        = f.submit 'Reply', class: 'btn btn-primary'
