= simple_form_for(@user) do |f|
  = f.error_notification
  .form-group.form-field-spacer
    = f.label :name, :class => 'custom-contact-label', :for => 'fullNameField' do
      Full Name
    = f.text_field :name, :class => "form-control custom-at-colors", :id => "fullNameField", :placeholder => "John Doe"

    = f.label :name, :class => 'custom-contact-label', :for => 'usernameField' do
      Username
    = f.text_field :username, :class => "form-control custom-at-colors", :id => 'usernameField', :placeholder => "jdoe"

    = f.label :name, :class => 'custom-contact-label', :for => 'fullNameField' do
      Email
    = f.text_field :email, :class => "form-control custom-at-colors", :id => 'emailField', :placeholder => 'jdoe@miners.utep.edu'

    = f.label :name, :class => 'custom-contact-label', :for => 'fullNameField' do
      User Type
    = f.text_field :usertype, :class => "form-control custom-at-colors", :id => 'usertypeField'

    = f.file_field :profileavatar

    .form-actions
      = f.button :submit
