= simple_form_for(@user) do |f|
  = f.error_notification
    .form-group.form-field-spacer
      -# = f.label :name, :class => 'custom-contact-label', :for => 'firstNameField' do
      -#   Name of Event
      -# = f.text_field :name, :class => 'form-control custom-at-colors', :id => 'firstNameField', :placeholder => 'Software Defined Radio with HackRF'
      = f.input :name, :class => "form-control custom-at-colors"
      = f.input :username, :class => "form-control custom-at-colors"
      = f.input :email, :class => "form-control custom-at-colors"
      = f.input :password, :class => "form-control custom-at-colors"
      = f.input :usertype, :class => "form-control custom-at-colors"
      = f.input :block
      = f.input :sendEmail
      = f.input :registerDate
      = f.input :lastvisitDate
      = f.input :activation
      = f.input :params
      = f.input :lastResetTime
      = f.input :resetCount
      = f.file_field :profileavatar

    .form-actions
    = f.button :submit
