<% @events.each do |event| %>
 <div class="event">
  <div class="day-of-the-week-separator"><%= parse_date(event.starttime) %></div>
    <div class="event-element">
    <%= link_to event do %>
      <div class="event-element-title"><%= event.name %></div>
      <div class="event-element-date">Time: <%= parse_time_accounting_for_timezone(event.starttime).strftime("%A, %B %e, %Y") %></div>
      <div class="event-element-location">Location: <%= event.location %></div>
      <div class="event-element-categories">
        <% event.parse_tags.each do |tag| %>
          <span class="label label-default event-tag-label"><%= tag %></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% end %>