<% provide(:title, "Events") %>

<div class="container body-content-wrapper">
  <h1>All events</h1>
  <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
      <a href="/events" class="btn btn-default" role="button">List View</a>
      <a href="#" class="btn btn-default" role="button">Calendar View</a>
    </div>
  <div class="event-elements-wrapper">
  <% @events.each do |event| %>
  <div class="day-of-the-week-separator"><%= parse_date(event.starttime) %></div>
    <div class="event-element">
    <%= link_to event do %>
      <div class="event-element-title"><%= event.name %></div>
      <div class="event-element-date">Time: </div>
      <div class="event-element-location">Location: <%= event.location %></div>
      <div class="event-element-categories">
        <% event.parse_tags.each do |tag| %>
          <span class="label label-default event-tag-label"><%= tag %></span>
        <% end %>
      </div>
    <% end %>
    </div>
    <% end %>
  </div>
  <div id="infinite-scrolling">
    <%= will_paginate @posts, :page_links => false %>
  </div>


<%= link_to 'New Event', new_event_path %>
