<div class="back-button-component"><%= link_to 'Back', events_path %></div>
<div class="container event-detail-view-wrapper">
    <div class="event-detail-view-title"><%= @event.name %>.</div>
    <div class="event-detail-view-date">Date: <%= @event.parse_date(@event.start) %></div>
    <div class="event-detail-view-location">At: <%= @event.location %>.</div>
</div>




<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Parent:</strong>
  <%= @event.parent %>
</p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Created:</strong>
  <%= @event.created %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @event.owner %>
</p>

<p>
  <strong>Url:</strong>
  <%= @event.URL %>
</p>

<p>
  <strong>Email:</strong>
  <%= @event.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @event.phone %>
</p>

<p>
  <strong>Metaname:</strong>
  <%= @event.metaname %>
</p>

<p>
  <strong>Metakeywords:</strong>
  <%= @event.metakeywords %>
</p>

<p>
  <strong>Metadescription:</strong>
  <%= @event.metadescription %>
</p>

<p>
  <strong>Recurring:</strong>
  <%= @event.recurring %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @event.registration %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @event.comments %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @event.icon %>
</p>

<p>
  <strong>Repeat interval:</strong>
  <%= @event.repeat_interval %>
</p>

<p>
  <strong>Repeat type:</strong>
  <%= @event.repeat_type %>
</p>

<p>
  <strong>Repeat end:</strong>
  <%= @event.repeat_end %>
</p>

<p>
  <strong>Start registration:</strong>
  <%= @event.start_registration %>
</p>

<p>
  <strong>End registration:</strong>
  <%= @event.end_registration %>
</p>

<p>
  <strong>Unsubscribe date:</strong>
  <%= @event.unsubscribe_date %>
</p>

<p>
  <strong>Payments:</strong>
  <%= @event.payments %>
</p>

<p>
  <strong>Max tickets:</strong>
  <%= @event.max_tickets %>
</p>

<p>
  <strong>Max tickets amount:</strong>
  <%= @event.max_tickets_amount %>
</p>

<p>
  <strong>Notify me:</strong>
  <%= @event.notify_me %>
</p>

<p>
  <strong>Notify me unsubscribe:</strong>
  <%= @event.notify_me_unsubscribe %>
</p>

<p>
  <strong>Overbooking:</strong>
  <%= @event.overbooking %>
</p>

<p>
  <strong>Overbooking amount:</strong>
  <%= @event.overbooking_amount %>
</p>

<p>
  <strong>Show registered:</strong>
  <%= @event.show_registered %>
</p>

<p>
  <strong>Automatically approve:</strong>
  <%= @event.automatically_approve %>
</p>

<p>
  <strong>Paypal email:</strong>
  <%= @event.paypal_email %>
</p>

<p>
  <strong>Discounts:</strong>
  <%= @event.discounts %>
</p>

<p>
  <strong>Form:</strong>
  <%= @event.form %>
</p>

<p>
  <strong>Early fee:</strong>
  <%= @event.early_fee %>
</p>

<p>
  <strong>Early fee type:</strong>
  <%= @event.early_fee_type %>
</p>

<p>
  <strong>Early fee end:</strong>
  <%= @event.early_fee_end %>
</p>

<p>
  <strong>Late fee:</strong>
  <%= @event.late_fee %>
</p>

<p>
  <strong>Late fee type:</strong>
  <%= @event.late_fee_type %>
</p>

<p>
  <strong>Late fee start:</strong>
  <%= @event.late_fee_start %>
</p>

<p>
  <strong>Options:</strong>
  <%= @event.options %>
</p>

<p>
  <strong>Archived:</strong>
  <%= @event.archived %>
</p>

<p>
  <strong>Published:</strong>
  <%= @event.published %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @event.completed %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @event.approved %>
</p>

<p>
  <strong>Ticket pdf:</strong>
  <%= @event.ticket_pdf %>
</p>

<p>
  <strong>Ticket pdf layout:</strong>
  <%= @event.ticket_pdf_layout %>
</p>

<p>
  <strong>Properties:</strong>
  <%= @event.properties %>
</p>

<p>
  <strong>Gallery tags:</strong>
  <%= @event.gallery_tags %>
</p>

<p>
  <strong>Allday:</strong>
  <%= @event.allday %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @event.featured %>
</p> -->

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
