<div class="action-button-wrapper">
  <div class="action-button-component back-button-component"><%= link_to 'Back', events_path %></div>
  <div class="action-button-component join-or-alert-button" style="float:right !important;">
    <a href="#">
      <% if @event.check_if_event_has_passed == -1 %>
        <%= "Sorry, the event has passed!" %>
      <% elsif @event.check_if_event_has_passed == 1 %>
        <%= "Tap here to RSVP" %>
      <% end %>
    </a>
    </div>
</div>
<div class="container event-detail-view-wrapper">
    <div class="event-detail-view-title"><%= @event.name %>.</div>
    <div class="event-detail-view-date">Date: <%= @event.parse_date %></div>
    <div class="event-detail-view-date">Time: <%= @event.starttime%></div>
    <div class="event-detail-view-location">At: <%= @event.location %></div>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
