- provide(:title, @event.name )
.container.action-button-wrapper
  .action-button-component.back-button-component
    = button_to "Back", events_path(anchor: @event.id), method: :get, class: "flat-button back"
  .action-button-component.join-or-alert-button{:style => "float:right !important; margin-right:-15px"}
    - if logged_in?
      - if @event.has_passed?
        = button_to "Sorry the event has passed", "", method: :get, class: "flat-button past"
      - elsif current_user.subscribed?(@event)
        = button_to "Unsubscribe", current_user.subscriptions.find_by(event_id: @event.id), method: :delete, class: "flat-button unsubscribe"
      - else
        = form_for(current_user.subscriptions.build) do |f|
          = hidden_field_tag :event_id, @event.id
          = f.submit "Subscribe", class: "flat-button join"
.container
  .row
    .col-sm-9
      .event-detail-view-title
        = @event.name
      %ul.event-details-list
        %li.event-details-item
          .event-icon-box
            %i.fa.fa-calendar
          .event-text-box
            = parse_time_accounting_for_timezone(@event.starttime).strftime("%A, %B %e, %Y") + " | " + parse_time_accounting_for_timezone(@event.starttime).strftime("%I:%M %p")
        %li.event-details-item
          .event-icon-box{:Style => "font-size:20px;"}
            %i.fa.fa-map-marker
          .event-text-box
            = @event.location
      %h3{:style => "color:#555;"} Description
      .event-detail-view-description.froala-element
        = @event.description.html_safe

      -# .event-detail-view-title
      -#   = @event.name
      -# .event-detail-view-date
      -#   %li.ffbox.pintop
      -#     .ffbox-fix
      -#       %i.icon-s.icon-calendar
      -#     .ffbox-flex.padding-left
      -#       Wednesday Feb 18, 7:00 PM - 10:00 PM
      -#   -# %span{:class => "fa fa-calendar", "aria-hidden" => "true"}
      -#   -# = parse_time_accounting_for_timezone(@event.starttime).strftime("%A, %B %e, %Y")
      -#   -# @
      -#   -# = parse_time_accounting_for_timezone(@event.starttime).strftime("%I:%M %p")
      -# .event-detail-view-location
      -#   %span{:class => "fa fa-location-arrow", "aria-hidden" => "true"}
      -#   = @event.location
      -# .event-detail-view-tags
      -#   .event-element-categories
      -#   - @event.parse_tags.each do |tag|
      -#     %span{:class => "label label-default event-tag-label"}
      -#       = tag
      -# .event-detail-view-description.froala-element
      -#   = @event.description.html_safe

    .col-sm-3
      .event-detail-view-counter
        %h4 Who is going?
        %p
          = "#{@event.subscribers.count} going"
      .event-detail-view-counter-items-wrapper
        - @event.subscribers.each do |attendee|
          .event-detail-view-counter-items-element
              %a{:href => "/users/#{attendee.username}"}
                %img{:src => "#{attendee.profileavatar.url}", :class => "img-rounded", :title => "#{attendee.name}"}
        -# - @event.owners.each do |owner|
        -#   .event-detail-view-counter-items-wrapper
        -#     .event-detail-view-counter-items-element
        -#       .attendee-name
        -#         = owner.name
        -#       .attendee-clearance Owner

/= @event.inspect
- if logged_in? && current_user.owns?(@event)
  = link_to 'Edit', edit_event_path(@event)
