.container.action-button-wrapper
  .action-button-component.back-button-component
    = link_to "Back", events_path(anchor: @event.id)
  .action-button-component.join-or-alert-button{:style => "float:right !important; margin-right:-15px"}
    - if logged_in?
      - if @event.has_passed?
        = link_to "Sorry the event has passed", events_path(anchor: @event.id)
      - elsif current_user.subscribed?(@event)
        = form_for(current_user.subscriptions.find_by(event_id: @event.id), html: { method: :delete }) do |f|
          = f.submit "Unsubscribe", class: "event-unsubscribe"
      - else
        = form_for(current_user.subscriptions.build) do |f|
          = hidden_field_tag :event_id, @event.id
          = f.submit "Subscribe", class: "event-join"
.container
  .row
    .col-sm-9
      .event-detail-view-title
        = @event.name
      .event-detail-view-date
        %span{:class => "fa fa-clock-o", "aria-hidden" => "true"}
        = parse_time_accounting_for_timezone(@event.starttime).strftime("%A, %B %e, %Y")
        @
        = parse_time_accounting_for_timezone(@event.starttime).strftime("%I:%M %p")
      .event-detail-view-location
        %span{:class => "fa fa-location-arrow", "aria-hidden" => "true"}
        = @event.location
      .event-detail-view-tags
        .event-element-categories
        - @event.parse_tags.each do |tag|
          %span{:class => "label label-default event-tag-label"}
            = tag
      .event-detail-view-description.froala-element
        = @event.description.html_safe

    .col-sm-3

      .event-detail-view-counter
        %p Who is going?
        = "#{@event.subscribers.count} going"
      .event-detail-view-counter-items-wrapper
        .event-detail-view-counter-items-element
        .event-detail-view-counter-items-element
        .event-detail-view-counter-items-element
        .event-detail-view-counter-items-element
        .event-detail-view-counter-items-element
        .event-detail-view-counter-items-element
        .event-detail-view-counter-items-element{ :style => "background-image:url(http://icons.iconarchive.com/icons/3xhumed/mega-games-pack-40/256/Fallout-New-Vegas-3-icon.png); background-size:cover;"}
        - @event.owners.each do |owner|
          .event-detail-view-counter-items-wrapper
            .event-detail-view-counter-items-element
              .attendee-name
                = owner.name
              .attendee-clearance Owner

/= @event.inspect
- if logged_in? && current_user.owns?(@event)
  = link_to 'Edit', edit_event_path(@event)
