<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>UTEP Pros</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container custom-container-header">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <div class="navbar-header">
		      <a class="navbar-brand" href="/">
		        <%= image_tag "at_logo.png" %>
		      </a>
		    </div>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav nav-pills navbar-right custom-menu-wrapper">
		    	<div class="page-title">UTEP PROFESSIONAL DEVELOPMENT</div>	
				<li role="presentation" class="custom-nav-pills"><a href="/">Home</a></li>
				<li role="presentation" class="custom-nav-pills"><a href="/contact">Contact</a></li>
				<li role="presentation" class="custom-nav-pills"><%= link_to 'All Events', events_path %></li>
				<li role="presentation" class="custom-nav-pills"><a href="#">About</a></li>
				<li role="presentation" class="custom-nav-pills"><a href="#">Evaluation Form</a></li>
				<li role="presentation" class="custom-nav-pills">
				<% if @current_user = current_user %>
				 <%= link_to "#{current_user.name}, Sign out", signout_path, id: "sign_out" %>
				<% elsif cookies[:UTEP_SE] && cookies[:UTEP_SA] %>
					<% 'auth/sso' %>
				<% else %>
				 <%= link_to 'Sign-In', "https://adminapps.utep.edu/sso?redirectURL=#{request.host}" %></li>
				<% end %>
				<li role="presentation" class="custom-nav-pills"><a href="#">RSS</a></li>
			</ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div>

<%= yield %>

</body>
</html>
